.question-select {
  text-align: center;
  padding: 12px;
  border-radius: 6px;
  user-select: none;
}

.question-select:hover {
  background-color: #eee;
}

.question-select:active {
  background-color: #ddd;
}

.question-selected {
  text-align: center;
  padding: 12px;
  border-radius: 6px;
  user-select: none;
  background-color: #DCD4EF;
}

.question-select-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.question-select-title {
  font-size: 24px;
  font-family: "Ubuntu","Helvetica","Arial",sans-serif;
  flex-grow: 2;
}

.question-select-label {
  height: min-content;
  flex-grow: 0;
}
